.advantages {
  padding-bottom: 60px;
}

.advantages__list {
  @include list-reset;
  @include font-set(17px, 20px, 700);
  color: $black;
}

.advantages-list__item {
  padding-top: 84px;
  width: 251px;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-top: 60px;
  }

  .advantages__list {
    @include set-flex;
    flex-direction: column;
    height: 490px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-top: 70px;
    padding-left: 175px;
    padding-bottom: 90px;
  }
}
