.catalog-list {
  @include list-reset;
  padding-top: 2em;
}

.catalog-list__item {
  border: 1px solid $line-color;
  width: 260px;
  margin-bottom: 30px;
}

.catalog-list__name {
  @include indent-reset;

  a {
    @include font-set(17px, 24px, 700);
    color: $black;
    text-decoration: none;
  }
}

.catalog-list__features {
  font-size: 13px;
  line-height: 30px;
  padding-top: 8px;
  margin: 0;
}

.catalog-list__purchase {
  padding-top: 50px;
  padding-bottom: 30px;
}

.catalog-list__price {
  @include font-set(15px, 24px, 700);
  color: $black;
}

.process-video {
  width: 260px;
  border: 1px solid $line-color;
  margin-bottom: 30px;
}

.process-video__btn {
  padding: 15px 26px 14px;
  margin-bottom: 33px;
  width: auto;
}
