.contacts {
  padding-top: 35px;
}

.contacts__title {
  @include font-set(18px, 30px, 700);
  @include indent-reset;
  margin-bottom: 26px;
}

.contacts__list {
  margin: 0;
  margin-bottom: 37px;
}

.contacts__item {
  margin-bottom: 30px;
}

.contacts__key,
.contacts__value {
  display: inline-block;
  vertical-align: top;
}

.contacts__key {
  text-transform: lowercase;
}

.contacts__value {
  width: 182px;
  margin-left: 26px;

  &--email a {
    position: relative;
    color: $main-text-color;

    &:hover,
    &:focus {
      color: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }

    &::after {
      @include pseudo-element(100%, 1px, 26px);
      background-color: #46c1ae;
    }
  }
}

.contacts__map {
  height: 457px;
  width: 100%;
}

.contacts__map__image {
  width: 100%;
  height: auto;
}

.contacts__btn {
  margin-top: 38px;
  margin-bottom: 38px;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 61px;
  }

  .contacts__title {
    @include font-set(43px, 50px, 700);
    position: relative;
    margin-bottom: 49px;
    margin-left: -4px;

    &::after {
      content: "";
      position: absolute;
      width: 47px;
      height: 81px;
      bottom: -17px;
      right: 3px;
      background: url("../img/icon-flag.svg") no-repeat;
    }
  }

  .contacts__list {
    @include font-set(17px, 30px);
    display: flex;
    margin-bottom: 60px;
  }

  .contacts__item {
    width: 50%;
    margin: 0;
  }

  .contacts__value {
    margin-left: 20px;
    width: 225px;
  }

  .contacts__map__image {
    height: 457px;
  }

  .contacts__btn {
    margin-top: 51px;
    margin-bottom: 57px;
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    @include wrapper($desktop-width - 50px * 2);
    padding-top: 70px;
    padding-left: 168px;
    position: relative;
    padding-bottom: 105px;
    margin-top: 93px;
  }

  .contacts__wrapper {
    width: 40%;
    padding: 0;
    padding-right: 35px;
    margin: 0;
  }

  .contacts__title {
    @include font-set(53px, 57px);
    margin-bottom: 29px;
    margin-left: 2px;

    &::after {
      left: -107px;
    }
  }

  .contacts__list {
    width: 300px;
    margin-bottom: 70px;
    flex-direction: column;
  }

  .contacts__item {
    display: flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 4px;
  }

  .contacts__key {
    width: 66px;
  }

  .contacts__value {
    width: 270px;
    margin-left: 21px;
  }

  .contacts__btn {
    margin: 0;
    margin-left: 5px;
  }

  .contacts__map {
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
  }

  .contacts__map__image {
    width: 525px;
    height: 457px;
  }
}
