.contacts__title {
  @include font-set(18px, 30px, 700);
  @include indent-reset;
  margin-bottom: 40px;
}

.contacts__item {
  margin-bottom: 40px;
}

.contacts__key,
.contacts__value {
  display: inline-block;
  vertical-align: top;
}

.contacts__key {
  text-transform: lowercase;
}

.contacts__value {
  width: 182px;
}

.contacts__map__image {
  width: 100%;
  height: auto;
}

.contacts__btn {
  margin-top: 38px;
  margin-bottom: 38px;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    @include font-set(43px, 50px, 700);
  }

  .contacts__map__image {
    height: 457px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    @include set-flex;
    @include wrapper($desktop-width - 50px * 2);
    padding-top: 70px;
    padding-left: 175px;
    position: relative;
    min-height: 633px;
  }

  .contacts__wrapper {
    width: 350px;
    padding-top: 80px;
  }

  .contacts__title {
    @include font-set(53px, 57px);
  }

  .contacts__list {
    width: 300px;
  }

  .contacts__btn {
    @include set-absolute(auto);
    bottom: 105px;
    margin: 0;
    margin-left: 175px;
  }

  .contacts__map__image {
    width: 525px;
    height: 457px;
  }
}
