.featured {
  padding-top: 27px;
  padding-bottom: 36px;
  position: relative;

  &::after {
    @include pseudo-element(100%, 6px, auto);
    bottom: -6px;
    height: 6.5px;
    transform: scale(-1, 1);
    background: url("../img/bg-zigzag-line.svg");
    background-size: auto 100%;
  }
}

.featured__label {
  @include font-set(17px, 20px, 700);
  color: $primary-color;
  text-transform: uppercase;
}

.featured__description {
  line-height: 24px;
  margin-top: 18px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 28px;


  & tr {
    border-bottom: 1px solid $line-color;
  }
}

.data-table__key,
.data-table__value {
  line-height: 20px;
  padding: 10px 0;
}

.data-table__key {
  min-width: 84px;
}

.featured__image {
  margin: 0 auto;
  display: block;
}

.featured__price {
  @include font-set(17px, 24px, 700);
  text-align: center;
  display: block;
  margin: 25px 0;
}

@media (min-width: $tablet-width) {
  .featured {
    padding-top: 37px;
    padding-bottom: 65px;

    &::after {
      height: 16px;
    }
  }

  .featured__wrapper {
    position: relative;
  }

  .featured__header {
    @include set-flex;
    align-items: center;
    margin-bottom: 48px;
    width: 100%;
  }

  .featured__title {
    margin-left: -3px;
  }

  .featured__label {
    line-height: 17px;
    margin-right: 27px;
    width: 72px;
    text-align: center;
    padding-top: 6px;
  }

  .featured__info {
    width: 50%;
    padding-right: 43px;
  }

  .featured__description {
    @include font-set(17px, 30px);
    margin: 0;
    width: 291px;
  }

  .featured__data {
    margin-top: 36px;
    margin-bottom: 54px;
  }

  .data-table__key {
    min-width: 68px;
  }

  .featured__image {
    position: absolute;
    top: 107px;
    right: 50px;
    width: 333px;
    height: 404px;
  }

  .featured__footer {
    width: 50%;
    padding-right: 43px;
  }

  .featured__price {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 34px;
  }

  .featured__btn {
    width: 292px;
  }
}

@media (min-width: $desktop-width) {
  .featured {
    position: relative;
    padding-top: 116px;
    padding-bottom: 73px;

    &::after {
      display: none;
    }
  }

  .featured__wrapper::after {
    @include pseudo-element(1050px, 23px, auto, 50px);
    bottom: -94px;
    background: url("../img/bg-zigzag-line.svg");
    background-size: auto 100%;
  }

  .featured__header {
    padding-left: 46px;
    justify-content: flex-start;
  }

  .featured__label {
    order: -1;
    margin-right: 53px;
    text-align: center;
  }

  .featured__title {
    margin-left: 0;
  }

  .featured__info {
    padding-left: 175px;
  }

  .featured__data {
    margin-bottom: 108px;
    margin-top: 48px;
  }

  .data-table__key {
    width: 98px;
  }

  .featured__image {
    top: -52px;
    margin: 0;
    width: 525px;
    height: 636px;
    z-index: -1;
  }

  .featured__footer {
    padding-left: 159px;
  }

  .featured__price {
    width: 100%;
  }

  .featured__btn {
    width: 292px;
  }
}
