.reviews {
  padding: 0 30px 60px 30px;
}

.reviews__item {
  @include indent-reset;
}

.reviews__title {
  padding-bottom: 38px;
}

.reviews__text {
  margin-bottom: 34px;
}

.reviews__author-name {
  @include font-set(17px, 24px, 700);
  display: block;
}

.reviews__author-username {
  @include font-set(17px, 30px);
}
