.page-footer {
  background-color: $bg-color;
  min-height: 160px;
}

.page-footer__logo {
  display: none;
}

.page-footer__copyright {
  font-size: 19px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  width: 182px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-footer {
    min-height: 143px;
  }

  .page-footer__wrapper {
    @include set-flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 50px;
  }

  .page-footer__logo {
    display: block;
    margin-right: 159px;
  }

  .page-footer__copyright {
    margin-right: 0;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo {
    margin-right: 349px;
  }
}
