.order-custom {
  padding-bottom: 24px;
}

.order-custom__description {
  @include font-set(13px, 24px);
  padding-top: 21px;
  padding-bottom: 24px;
}

.order-form__group {
  border: none;
  padding: 0;
  margin: 0;

  input,
  textarea {
    outline: none;
  }
}

.order-form__title {
  @include font-set(17px, 16px, 700);
  text-transform: uppercase;
  color: $primary-color;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 0;
  position: relative;


  &::after {
    @include pseudo-element(198px, 1px, 8px, 63px);
    background-color: $primary-color;
  }

  &--type {
    margin-top: 0;
    margin-bottom: 34px;
  }

  &--color {
    margin-top: 19px;
    margin-bottom: 36px;
  }

  &--name {
    margin-top: 0;
  }

  &--phone,
  &--email {
    margin-bottom: 6px;
    margin-top: 13px;
  }

  &--email::after {
    width: 179px;
    left: 82px;
  }

  &--comment {
    margin-bottom: 24px;
    margin-top: 13px;
  }
}

.order-form__label-radio,
.order-form__label-check,
.order-form__label {
  @include font-set(17px, 18px, 700);
  color: $black;
  width: 240px;
  display: block;
}

.order-form__label-radio,
.order-form__label-check {
  padding-left: 64px;
  position: relative;

  &:hover::before,
  &:focus::before {
    border-color: $primary-color;
  }

  &:active::before {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

.order-form__label-radio {
  margin-bottom: 24px;

  &::before {
    @include pseudo-element(40px, 40px, -10px);
    border: 2px solid $main-text-color;
    border-radius: 50%;
  }
}

input:checked + .order-form__label-radio::after {
  @include pseudo-element(16px, 16px, 2px, 12px);
  background-color: $primary-color;
  border-radius: 50%;
}

.order-form__label-check {
  margin-bottom: 43px;

  &::before {
    @include pseudo-element(40px, 40px, -11px);
    border: 2px solid $main-text-color;
  }
}

input:checked + .order-form__label-check::after {
  @include pseudo-element(22px, 16px, 2px, 10px);
  background: url("../img/icon-tick.svg") no-repeat;
  background-size: 22px 16px;
}

.form__group__fieldset--phone {
  position: relative;

  svg {
    position: absolute;
    right: 5px;
    bottom: 35px;
  }
}

.form__group__fieldset--email {
  position: relative;

  svg {
    position: absolute;
    right: 5px;
    bottom: 27px;
  }
}

.order-form__field {
  @include font-set(17px, 18px);
  color: $main-text-color;
  height: 52px;
  width: 100%;
  border: none;
  border-bottom: 2px solid $black;
  margin-bottom: 20px;

  &:hover,
  &:focus {
    border-color: $primary-color;
  }

  &:hover + svg,
  &:focus + svg {
    fill: $primary-color;
    fill-opacity: 1;
  }

  &--name:first-child {
    background-image: none;
  }

  &--name:nth-child(2) {
    margin-bottom: 22px;
  }

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }
}

.order-form__comment {
  @include font-set(17px, 18px);
  min-height: 142px;
  width: 100%;
  border: 2px solid $black;
  padding-top: 15px;
  padding-left: 15px;

  &:hover,
  &:focus {
    border-color: $primary-color;
  }


  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }
}

.order-form__footnote {
  @include font-set(14px, 16px);
  margin: 0;
  margin-top: 3px;
}

.order-form__btn {
  margin: 30px auto;
}

@media (min-width: $tablet-width) {
  .order-custom {
    padding-bottom: 0;
  }

  .order-custom__description {
    @include font-set(17px, 30px);
    padding-top: 65px;
    padding-bottom: 71px;
  }

  .order-form__group--type {
    padding-bottom: 10px;
  }

  .order-form__group--color {
    padding-bottom: 11px;
    padding-top: 66px;
    background-color: $bg-color;
  }

  .order-form__group--name {
    padding-top: 50px;
    padding-bottom: 28px;
  }

  .order-form__group--phone {
    background-color: $bg-color;
    padding-top: 50px;
  }

  .order-form__group--email {
    background-color: $bg-color;
    padding-bottom: 0;
  }

  .order-form__group--comment {
    padding-top: 48px;
    padding-bottom: 44px;
  }

  .form__group__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .order-form__title {
    width: 167px;
    padding-right: 75px;
    margin-top: 15px;

    &--color {
      margin-top: 3px;
    }

    &--phone {
      margin-top: 17px;
    }

    &--comment {
      margin-top: 17px;
    }

    &::after {
      display: none;
    }
  }

  .form__group__fieldset {
    width: 501px;

    &--color,
    &--name {
      @include set-flex;
    }
  }

  .form__group__fieldset--phone svg {
    right: 26px;
    bottom: 42px;
  }

  .form__group__fieldset--email svg {
    right: 22px;
    bottom: 61px;
  }

  .order-form__label {
    width: auto;
    padding-right: 25px;
    padding-bottom: 26px;
    margin: auto;
  }

  .order-form__label-radio,
  .order-form__label-check,
  .order-form__label {
    font-size: 19px;
  }

  .order-form__label-radio,
  .order-form__label-check {
    padding-left: 81px;
  }

  .order-form__label-radio {
    width: auto;
    margin-bottom: 58px;

    &::before {
      width: 52px;
      height: 52px;
      left: 0;
      top: -16px;
    }
  }

  input:checked + .order-form__label-radio::after {
    width: 22px;
    height: 22px;
    left: 15px;
    top: -1px;
  }

  .order-form__label-check {
    margin-bottom: 58px;

    &::before {
      width: 54px;
      height: 52px;
      top: -16px;
    }
  }

  input:checked + .order-form__label-check::after {
    width: 33px;
    height: 22px;
    background-size: 33px 22px;
    top: 0;
  }

  .order-form__title--name {
    padding-top: 17px;
  }

  .order-form__field {
    font-size: 19px;
    background-color: transparent;
    margin-bottom: 24px;
    height: 52px;
    padding-left: 17px;

    &--name {
      width: 70%;
      flex-grow: 1;
    }

    &--phone,
    &--email {
      width: 100%;
    }

    &--phone {
      margin-bottom: 0;
    }
  }

  .order-form__comment {
    height: 142px;
    width: 100%;
    font-size: 20px;
  }

  .order-form__footer {
    @include set-flex;
    align-items: center;
    padding-bottom: 50px;
  }

  .order-form__footnote {
    order: 2;
    font-size: 17px;
    margin-top: -8px;
  }

  .order-form__btn {
    margin: 0;
    width: 230px;
  }
}


@media (min-width: $desktop-width) {
  .order-custom__description {
    width: 747px;
    padding: 112px 24px 71px 24px;
  }

  .order-form__title {
    text-align: right;
    width: 175px;
    margin-top: 3px;

    &--color {
      padding-right: 71px;
    }

    &--name {
      margin-top: 0;
      padding-right: 72px;
    }

    &--phone {
      margin-top: 16px;
      padding-right: 81px;
    }

    &--email {
      margin-top: 16px;
      padding-right: 56px;
    }

    &--comment {
      margin-top: 17px;
      padding-right: 74px;
    }
  }

  .form__group__fieldset {
    width: 840px;
    padding-right: 140px;

    &--color {
      padding-right: 75px;
    }
  }

  .order-form__group--comment {
    padding-bottom: 39px;
  }

  .form__group__fieldset--phone svg {
    right: 154px;
    bottom: 64px;
  }

  .form__group__fieldset--email svg {
    right: 154px;
    bottom: 55px;
  }

  .order-form__field--name {
    width: 80%;
  }

  .order-form__footer {
    padding-left: 225px;
    padding-right: 225px;
  }
}
