.page-header {
  position: relative;
}

.page-header__wrapper {
  padding: 0;
}

.page-header__logo {
  @include set-absolute(22px, 50%);
  transform: translateX(-50%);
  z-index: 1;
}

.site-menu {
  @include list-reset;
  margin-top: 60px;

  a {
    @include font-set(17px, 24px, 700);
    color: $black;
    text-decoration: none;

    &:not(.current):hover,
    &:not(.current):focus {
      opacity: 0.6;
    }

    &:not(.current):active {
      opacity: 0.3;
    }
  }
}

.site-menu__item {
  border-bottom: 1px solid $line-color;
  padding: 30px 0 30px 76px;

  &--empty,
  &--new,
  &--sale,
  &--delivery {
    display: none;
  }

  &--catalog {
    border-top: 1px solid $line-color;
  }
}

// tablet styles

@media (min-width: $tablet-width) {
  .page-header {
    min-height: 88px;
    border-bottom: 1px solid $line-color;
  }

  .page-header__wrapper {
    position: relative;
  }

  .page-header__logo {
    left: 0;
    top: 22px;
    transform: none;
  }

  .page-header__logo-image {
    width: 112px;
    height: 46px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    @include set-absolute;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
  }

  .site-menu__item {
    border: none;
    padding: 27px 0;

    &--empty {
      display: block;
      width: 322px;
      order: -3;
      flex-grow: 1;
    }

    &--catalog {
      padding-right: 37px;
    }

    &--search {
      order: -2;
      width: 82px;
      border-left: 1px solid $line-color;
      border-right: 1px solid $line-color;
      position: relative;

      a:first-child {
        font-size: 0;

        &::before {
          @include pseudo-element(18px, 18px, 50%, 50%);
          transform: translate(-50%, -50%);
          opacity: 0.2;
          background: url("../img/icon-search.svg") no-repeat;
        }
      }
    }

    &--cart {
      order: -1;
      padding-left: 83px;
      width: 266px;
      text-align: right;
      position: relative;

      a:first-child {
        font-size: 17px;

        &::before {
          @include pseudo-element(21px, 19px, 50%, 50px);
          background: url("../img/icon-cart.svg") no-repeat;
          transform: translateY(-50%);
          opacity: 0.2;
        }
      }
    }
  }

  .site-menu a {
    font-size: 15px;
  }

  .site-menu__item--delivery {
    display: block;
    margin-left: auto;

    a {
      font-weight: 400;
      color: $main-text-color;
    }
  }
}


@media (min-width: $desktop-width) {
  .page-header__logo {
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
  }

  .page-header__logo-image {
    width: 149px;
    height: 72px;
  }

  .site-menu__item--new,
  .site-menu__item--sale {
    display: block;
  }

  .site-menu__item--new {
    margin-right: 60px;
  }

  .site-menu__item--order {
    order: -4;

    a {
      font-size: 17px;
    }
  }

  .site-menu__item--catalog {
    order: -5;

    a {
      font-size: 17px;
    }
  }
}
