.intro {
  background: url("../img/hero-mobile@1x.jpg") no-repeat;
  background-size: 575px auto;
  background-color: #fafafa;
  background-position: 50% -15px;
  min-height: 488px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }

  &--catalog,
  &--form {
    min-height: 177px;
    padding: 0;
    background: $bg-color;
  }
}

.intro__title {
  @include font-set(27px, 30px, 700);
  width: 100%;
  max-width: 250px;
  color: $black;
  text-align: center;
  margin: auto;
  margin-top: 0;
  padding-bottom: 30px;

  &--catalog,
  &--form {
    margin-top: 70px;
  }
}

@media (min-width: $tablet-width) {
  .intro {
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: 1150px auto;
    background-position: top;
    padding-top: 153px;
    min-height: 754px;
    margin-top: -96px;
    position: relative;
    border-top: 1px solid $line-color;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }

    &::after {
      @include pseudo-element(100%, 22.7px, auto);
      bottom: -3px;
      background: url("../img/bg-zigzag-fill.svg");
      background-size: auto 100%;
    }
  }

  .intro.intro--catalog,
  .intro.intro--form {
    min-height: 235px;
    background-image: none;
    padding-top: 95px;
  }

  .intro__title {
    @include font-set(43px, 50px);
    max-width: 630px;

    &--catalog,
    &--form {
      margin-top: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 1150px auto;
    margin-top: -86px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }

    &::after {
      background-size: cover;
      height: 34px;
      bottom: -10px;
    }
  }

  .intro.intro--catalog,
  .intro.intro--form {
    min-height: 265px;
  }

  .intro__title {
    @include font-set(53px, 57px);
  }
}
