.intro {
  background: url("../img/hero-mobile@1x.jpg") no-repeat;
  background-color: #fafafa;
  background-position: 50% -15px;
  min-height: 490px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &--catalog,
  &--form {
    min-height: 177px;
    padding: 0;
    background: $bg-color;
  }
}

.intro__title {
  @include font-set(27px, 30px, 700);
  width: 250px;
  color: $black;
  text-align: center;
  margin: auto auto;
}

@media (min-width: $tablet-width) {
  .intro {
    background-image: url("../img/hero-tablet@1x.jpg");
    padding-top: 160px;
    height: 754px;
    margin-top: -102px;
    position: relative;
    border-top: 1px solid $line-color;

    &::after {
      @include pseudo-element(100%, 24px, auto);
      bottom: 0;
      background: url("../img/bg-zigzag-fill.svg");
      background-size: auto 100%;
    }
  }

  .intro.intro--catalog,
  .intro.intro--form {
    height: 246px;
    background-image: none;
    padding-top: 100px;

    .intro__title {
      margin-bottom: 100px;
    }
  }

  .intro__title {
    @include font-set(43px, 50px);
    width: 67%;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background-image: url("../img/hero-desktop@1x.jpg");

    &::after {
      background-size: auto;
      height: 34px;
    }
  }

  .intro.intro--catalog,
  .intro.intro--form {
    height: 265px;

    & > .intro__title {
      margin-bottom: 110px;
    }
  }

  .intro__title {
    @include font-set(53px, 57px);
  }
}
