.page-footer {
  background-color: $bg-color;
  padding-top: 30px;
}

.page-footer__logo {
  display: none;
}

.page-footer__copyright {
  font-size: 19px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  width: 182px;
  margin: 0 auto;
  padding-top: 19px;
  line-height: 33px;
  color: $black;

  &:hover svg,
  &:focus svg {
    fill: #46c1ae;
  }

  &:active svg {
    opacity: 0.3;
  }

  a {
    margin-left: 22px;
  }

  svg {
    fill: #63d1bb;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 38px;
    padding-bottom: 35px;
  }

  .page-footer__wrapper {
    @include set-flex;
    flex-direction: row;
    align-items: center;
  }

  .page-footer__logo {
    display: block;

    &:hover > svg,
    &:focus > svg {
      fill: #46c1ae;
    }

    &:active > svg {
      opacity: 0.3;
    }
  }

  .page-footer__copyright {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__copyright {
    padding-top: 16px;
    width: 186px;
  }
}
