.process-video__wrapper {
  width: 260px;
  border: 1px solid $line-color;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.process-video__title--top {
  @include font-set(17px, 24px, 700);
  padding-left: 47px;
  width: 200px;
  margin-left: 34px;
  position: relative;

  &::before {
    @include pseudo-element(32px, 34px, 3px, -3px);
    background: url("../img/icon-video.svg") no-repeat;
  }
}

.process-video__image {
  position: relative;
  display: block;

  img {
    display: block;
    width: 260px;
    height: 150px;
  }

  &::after {
    @include pseudo-element(101px, 77px, 50%, 50%);
    transform: translate(-50%, -50%);
    background: url("../img/icon-play.svg") no-repeat;
  }

  &:hover::after,
  &:focus::after {
    transform: scale(1.2) translate(-40%, -40%);
  }

  &:active::after {
    transform: scale(0.8) translate(-60%, -60%);
    opacity: 0.3;
  }
}

.process-video__description {
  @include font-set(15px, 24px);
  width: 194px;
  margin: 34px 0 29px 34px;
}

.process-video__title--bottom {
  display: none;
}

.process-video__btn {
  padding: 15px 24px 14px;
  margin-bottom: 33px;
  width: auto;
}

@media (min-width: $tablet-width) {
  .process-video__wrapper {
    width: $tablet-width;
    border: none;
    margin-bottom: 63px;
  }

  .process-video__image img {
    @include wrapper(668px);
    height: auto;
  }

  .process-video__title--top {
    display: none;
  }

  .process-video__title--bottom {
    display: block;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 36px;
    padding-left: 57px;
    position: relative;

    &::before {
      @include pseudo-element(32px, 34px, -6px, -3px);
      background: url("../img/icon-video.svg") no-repeat;
    }
  }

  .process-video__details {
    @include wrapper(668px);
    border: 1px solid $line-color;
    padding: 43px 40px 46px 40px;
  }

  .process-video__description {
    width: 100%;
    margin: 0;
    margin-bottom: 40px;
  }

  .process-video__btn {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .process-video {
    margin-bottom: 105px;
  }

  .process-video__wrapper {
    @include wrapper(1050px);
    display: flex;

    &:hover .process-video__details,
    &:focus .process-video__details {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }

    &:active .process-video__details {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }

  .process-video__image img {
    width: 682px;
    height: 455px;
  }

  .process-video__details {
    width: auto;
    padding: 100px 65px 60px 78px;
  }

  .process-video__description {
    width: 230px;
  }

  .process-video__title--bottom {
    width: 150px;
    padding: 0;

    &::before {
      top: -50px;
      left: 0;
    }
  }

  .process-video__btn {
    width: 230px;
    display: block;
    margin-top: 43px;
    margin-bottom: 0;
  }
}
