.reviews {
  padding-bottom: 51px;
  position: relative;

  &::after {
    @include pseudo-element(100%, 6.5px, auto);
    bottom: 0;
    background: url("../img/bg-zigzag-line.svg");
    background-size: auto 100%;
    transform: scale(-1, 1);
  }
}

.reviews__item {
  @include indent-reset;
}

.reviews__title {
  padding-bottom: 10px;
}

.reviews__text {
  margin-bottom: 26px;
}

.reviews__author {
  font-style: normal;
}

.reviews__author-name {
  @include font-set(17px, 24px, 700);
  display: block;
  margin-bottom: 3px;
}

.reviews__author-username {
  @include font-set(17px, 30px);
}

.slider__controls {
  display: flex;
  padding-bottom: 23px;
  margin-top: 29px;
}

.slider__btn {
  width: 50%;
  border-radius: 0;
  border: 1px solid $line-color;
  height: 52px;
  background: url("../img/icon-left-arrow.svg") no-repeat center;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--forward {
    transform: scale(-1, 1);
    border-right: none;
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    background: url("../img/review@1x.jpg") no-repeat;
    background-size: 350px auto;
    padding-bottom: 63px;

    &::after {
      height: 15px;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__wrapper {
    @include set-flex;
    position: relative;
    padding-bottom: 70px;
  }

  .reviews__title {
    margin-top: 77px;
    margin-left: -6px;
    width: 50%;
    order: 1;
  }

  .reviews__list {
    order: 3;
    margin-top: 22px;
  }

  .reviews__text {
    width: 643px;
    font-size: 17px;
    margin-bottom: 56px;
  }

  .reviews__btn {
    width: 175px;
    right: 0;
    order: 2;
    align-self: flex-end;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: 0;
  }

  .slider__controls {
    position: absolute;
    right: 50px;
    bottom: 70px;
    padding: 0;
    margin: 0;
  }

  .slider__btn {
    border: none;
    width: 88px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    background: none;

    &::after {
      display: none;
    }
  }

  .reviews__wrapper {
    padding-left: 224px;
    background: url("../img/review@1x.jpg") no-repeat;
    background-size: 350px auto;
    background-position: left 50px top 0;
    padding-bottom: 100px;

    &::after {
      @include pseudo-element(1050px, 23px, auto, 50px);
      bottom: -86px;
      background: url("../img/bg-zigzag-line.svg");
      background-size: auto 100%;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__title {
    margin-top: 70px;
  }

  .reviews__text {
    width: 770px;
    margin-bottom: 39px;
  }

  .slider__controls {
    bottom: 103px;
  }
}
