.reviews {
  padding-bottom: 60px;
}

.reviews__item {
  @include indent-reset;
}

.reviews__title {
  padding-bottom: 10px;
}

.reviews__text {
  margin-bottom: 34px;
}

.reviews__author-name {
  @include font-set(17px, 24px, 700);
  display: block;
}

.reviews__author-username {
  @include font-set(17px, 30px);
}

.slider__controls {
  display: flex;
  padding-bottom: 38px;
  padding-top: 25px;
}

.slider__btn {
  width: 50%;
  border-radius: 0;
  border: 1px solid $line-color;
  height: 52px;
  background: url("../img/icon-left-arrow.svg") no-repeat center;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--forward {
    transform: scale(-1, 1);
    border-right: none;
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    background: url("../img/review@1x.jpg") no-repeat;
  }

  .reviews__wrapper {
    @include set-flex;
    position: relative;
    padding-bottom: 70px;
  }

  .reviews__title {
    padding-top: 80px;
    width: 50%;
    order: 1;
  }

  .reviews__list {
    order: 3;
    margin-top: 30px;
  }

  .reviews__text {
    width: 642px;
    font-size: 17px;
  }

  .reviews__btn {
    width: 175px;
    right: 0;
    order: 2;
    align-self: flex-end;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: 0;
  }

  .slider__controls {
    position: absolute;
    right: 50px;
    bottom: 70px;
    padding: 0;
    margin: 0;
  }

  .slider__btn {
    border: none;
    width: 80px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    background: none;
  }

  .reviews__wrapper {
    padding-left: 175px;
    background: url("../img/review@1x.jpg") no-repeat;
    background-position: left 50px top 0;
    padding-bottom: 85px;
  }

  .reviews__text {
    width: 770px;
  }

  .slider__controls {
    bottom: 85px;
  }
}
