.social-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(68, 68, 68, 0.1);
}

.social-list__item:not(:last-child) {
  margin-right: 40px;
}

.social-list__item:hover svg,
.social-list__item:focus svg {
  fill: #46c1ae;
}

.social-list__item:active svg {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .social-list {
    margin: 0;
    padding: 0;
    border: none;
  }
}
