.social-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 45px;
}

.social-list__item:not(:last-child) {
  margin-right: 40px;
}

@media (min-width: $tablet-width) {
  .social-list {
    margin: 0;
  }
}
