.featured {
  padding: 2em 2em 5.067em 2em;
}

.featured__label {
  @include font-set(1.133em, 1.176em, $font-bold);
  color: $primary-color;
  text-transform: uppercase;
}

.featured__description {
  line-height: 1.6em;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 28px;


  & tr {
    border-bottom: 1px solid $line-color;
  }

  &__key,
  &__value {
  line-height: 1.6em;
  padding: 0.9em 0;
  }

}

.data-table__key {
  min-width: 97px;
}

.featured__image {
  margin: 0 auto;
  display: block;
}

.featured__price {
  @include font-set(1.133em, 1.412em, $font-bold);
  text-align: center;
  display: block;
  margin: 1.647em 0;
}
