.reviews {
  padding: 0 2em 6em 2em;
}

.reviews__item {
  @include indent-reset;
}

.reviews__title {
  padding-bottom: 1.52em;
}

.reviews__text {
  margin-bottom: 2.333em;
}

.reviews__author-name {
  @include font-set(1.133em, 1.412em, $font-bold);
  display: block;
}




