.page-footer {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  min-height: 160px;
}

.page-footer__copyright {
  font-size: 1.267em;
  font-family: $font-bold;
  display: flex;
  justify-content: space-between;
  width: 182px;
  margin: 0 auto;
}
