.page-header {
  position: relative;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  top: 22px;
  transform: translateX(-50%);
}

.site-menu {
  @include list-reset;
  margin-top: 60px;

  a {
    @include font-set(1.133em, 1.412em, $font-bold);
    color: $black;
    text-decoration: none;

    &:not(.current):hover,
    &:not(.current):focus {
      opacity: 0.6;
    }

    &:not(.current):active {
      opacity: 0.3;
    }
  }

}

.site-menu__item {
  border-bottom: 1px solid $line-color;
  padding: 30px 0 30px 76px;


  &:first-child {
    border-top: 1px solid $line-color;
  }

}
