.intro {
  background: url(../img/hero-mobile@1x.jpg) no-repeat;
  background-position: 50% -15px;
  min-height: 490px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  &__title {
    @include font-set(1.8em, 1.111em, $font-bold);
    color: $black;
    text-align: center;
    width: 9.1em;
    margin: 0 auto;
  }
}

.categories-list {
  @include list-reset;

  &__item {

    &:nth-child(2n+1) {
      background-color: $primary-color;
    }

    &:nth-child(2n) {
      background-color: $primary-color--dark;
    }

  }

  a {
    @include font-set(1.2em, 1.333em, $font-bold);
    color: $white;
    text-decoration: none;
    width: 9.2em;
    display: block;
    padding: 1.5em 0 1.5em 1.6em;

    &:active {
      opacity: 0.3;
    }

  }

}

// intro-catalog & intro--form

.intro--catalog,
.intro--form {
  min-height: 177px;
  padding: 0;
  background: $bg-color;

  & .intro__title {
    margin: auto auto;
  }

}
