@mixin list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin indent-reset {
  padding: 0;
  margin: 0;
}

@mixin font-set($size, $line-height, $font-weight:null) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin set-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin wrapper($width) {
  margin: 0 auto;
  width: $width;
}

@mixin set-absolute ($top:0, $left:0) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin pseudo-element ($width, $height, $top:0, $left:0) {
  content: "";
  position: absolute;
  width: $width;
  height: $height;
  top: $top;
  left: $left;
}
