.social-list {
  display: flex;
  flex-wrap: wrap;
  @include list-reset;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 45px;
}

.social-list__item:not(:last-child) {
  margin-right: 40px;
}
