$black: #000000;
$white: #ffffff;
$line-color: #ececec;
$main-text-color: #444444;
$primary-color: #63d1bb;
$primary-color--dark: #56c3b2;
$bg-color: #f1f1f1;

$font-size: 15px;
$font-primary: "Open Sans", arial, sans-serif;
