$black: #000;
$white: #fff;
$line-color: #ececec;
$main-text-color: #444;
$primary-color: #63d1bb;
$primary-color--dark: #56c3b2;
$bg-color: #f1f1f1;
$font-size: 15px;
$font-primary: 'Open Sans', Arial, sans-serif;
$font-bold: 'Open Sans Bold', Arial, sans-serif;
